@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply font-nunito;
    }
}

iframe {
    margin: auto;
    max-width: 100%
}

.post__body p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.post__body a {
    color: #38bdf8;
}

.post__body p img {
    margin: auto;
    object-fit: contain;
}

.post__body figure {
    margin-bottom: 1.5rem;
}

.post__body figure img {
    margin: auto;
    object-fit: contain;
}

.post__body figure figcaption{
    text-align: center;
    font-style: italic;
}

.post__body ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 0.5rem;
}

.post__body h1 {
    font-size: 1.875rem; /* 30px */
    line-height: normal;
}

.post__body h2 {
    font-size: 1.5rem; /* 24px */
}

.post__body h3 {
    font-size: 1.25rem; /* 24px */
}

.base-content__body p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.base-content__body a {
    color: #38bdf8;
}

.base-content__body p img {
    margin: auto;
    object-fit: contain;
}

.base-content__body img {
    margin: auto;
    object-fit: contain;
}

.base-content__body figure{
    margin-bottom: 1.5rem;
}

.base-content__body figure img{
    margin: auto;
    object-fit: contain;
}

.base-content__body figure figcaption{
    text-align: center;
    font-style: italic;
}

.base-content__body ul {
    list-style-type: disc;
    list-style-position: inside;
}

.base-content__body h1 {
    font-size: 1.875rem; /* 30px */
    line-height: inherit;
}

.base-content__body h2 {
    font-size: 1.5rem; /* 24px */
    line-height: inherit;
}

.base-content__body h3 {
    font-size: 1.25rem; /* 24px */
    line-height: inherit;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 700px;
    overflow-y: auto;
}

.ck-content {
    color: #000;
}

.ck-content  a{
    color: #38bdf8;
}

.ck-content h1{
    font-size: 1.875rem;
}

.ck-content h2{
    font-size: 1.5rem;
}

.ck-content h3{
    font-size: 1.25rem;
}

.ck-content ul,
.ck-content ul li{
    list-style-type: inherit;
}

.ck-content ul{
    padding-left: 1rem;
}

.ck-content figure {
    width: 50%;
}

.ck-content figure {
    width: 50%;
}