{% extends "base.html" %}
{% block title %}{{title}} - {% endblock %}
{% block main %}
{% import "_macros.html" as macros %}
{{ macros.render_back_to_panel() }}
<div class="bg-zinc-800 px-6 py-6">
    {{ macros.render_flashed_messages() }}
    <form class="block justify-self-center mx-auto" method="POST" enctype="multipart/form-data">
        <div class="">
            {{ form.hidden_tag() }}
            {{ form.thumb.label }}
            {{ form.thumb }}
            {% if thumb %}
            <p>Aktualna miniaturka:</p>
            <img class="block max-w-full" src="{{ url_for('uploaded_files', folder='thumbnails', filename=thumb) }}" alt="">
            {% endif %}
            <div>
                <p>Tytuł (Unikalny):</p>
                {{ form.title(placeholder="Tytuł", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Krótki opis:</p>
                {{ form.short_desc(placeholder="Krótki opis", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Treść:</p>
                {{ form.body(placeholder="Body", class="h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Dotyczy gry:</p>
                {{ form.game(placeholder="Gra", class="h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Tagi:</p>
                <span class="block">Odzielaj tagi przecinkiem bez spacji (np. tag1,tag2,tag3)</span>
                {{ form.tags(placeholder="Tagi", id="add_post-input_tags", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
                <span>Lista tagów: </span>
                <div id="add_post-tags_list">
                    {% for t in tags_list %}
                    <button class="bg-zinc-700 p-1">{{ t }}</button>
                    {% endfor %}
                </div>
            </div>
            <div>
                <p>Opublikowany: </p>
                {{ form.published }}
            </div>
            <div class="mt-4">{{ form.submit(class="block bg-zinc-700 mx-auto hover:bg-gray-600 transition-all text-white font-bold py-2 px-4 rounded cursor-pointer") }}</div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{{ ckeditor.config(name='body', height=700) }}
<script src="{{ url_for('static', filename='dist/tags.bundle.js', _external=True) }}"></script>
{% endblock %}