{% extends "base.html" %}
{% block title %}Dodaj Społeczność - {% endblock %}
{% block main %}
<div class="users bg-gray-800 px-6 py-6">
    <form class="block justify-self-center mx-auto" method="POST" enctype="multipart/form-data">
        <div>
            {% for err in form.thumb.errors %}
            <div><span>Thumb: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.name.errors %}
            <div><span>Name: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.body.errors %}
            <div><span>Body: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.web_link.errors %}
            <div><span>Web link: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.twitter_link.errors %}
            <div><span>Twitter link: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.fb_link.errors %}
            <div><span>FB link: {{ err }}</span></div>
            {% endfor %}
            {% for err in form.discord_link.errors %}
            <div><span>Discord_link: {{ err }}</span></div>
            {% endfor %}
        </div>
        <div class="">
            {{ form.hidden_tag() }}
            <div>
                <p>Miniaturka:</p>
                {{ form.thumb }}
            </div>
            {% if thumb %}
            <p>Aktualna miniaturka:</p>
            <img class="block max-w-full" src="{{ url_for('uploaded_files', folder='thumbnails', filename=thumb) }}" alt="">
            {% endif %}
            <div>
                <p>Nazwa Społeczności:</p>
                {{ form.name(placeholder="Nazwa gry", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Treść:</p>
                {{ form.body(placeholder="Body", class="h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <h3>Linki (Opcjonalne):</h3>
            </div>
            <div>
                <p>Strona internetowa:</p>
                {{ form.web_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Twitter:</p>
                {{ form.twitter_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Facebook:</p>
                {{ form.fb_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Discord:</p>
                {{ form.discord_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Opublikowany: </p>
                {{ form.published }}
            </div>
            <div class="mx-auto">{{ form.submit(placeholder="Zapisz zmiany", class="bg-gray-700 hover:bg-gray-600 transition-all text-white font-bold py-2 px-4 rounded") }}</div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ ckeditor.load() }}
{{ ckeditor.config(name='body', height=700) }}
{% endblock %}