{% extends "base.html" %}
{% block title %}Dodaj grę - {% endblock %}
{% block main %}
{% import "_macros.html" as macros %}
{{ macros.render_back_to_panel() }}
<div class="bg-zinc-800 px-6 py-6">
    {{ macros.render_flashed_messages() }}
    <form class="block justify-self-center mx-auto" method="POST" enctype="multipart/form-data">
        <div>
            {% for err in form.thumb.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.title.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.producer.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.release_date.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.body.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.web_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.steam_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.twitter_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.fb_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.reddit_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
            {% for err in form.discord_link.errors %}
            <div><span>{{ err }}</span></div>
            {% endfor %}
        </div>
        <div class="">
            {{ form.hidden_tag() }}
            <div>
                <p>Miniaturka:</p>
                {{ form.thumb }}
            </div>
            {% if thumb %}
            <p>Aktualna miniaturka:</p>
            <img class="block max-w-full" src="{{ url_for('uploaded_files', folder='thumbnails', filename=thumb) }}" alt="">
            {% endif %}
            <div class="mt-4">
                <p>Nazwa gry:</p>
                {{ form.title(placeholder="Nazwa gry", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Producent:</p>
                {{ form.producer(placeholder="Producent", class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Data premiery (Opcjonalne):</p>
                {{ form.release_date(class="h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Treść:</p>
                {{ form.body(placeholder="Body", class="h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <h3>Linki (Opcjonalne):</h3>
            </div>
            <div>
                <p>Strona internetowa:</p>
                {{ form.web_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Steam:</p>
                {{ form.steam_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Twitter:</p>
                {{ form.twitter_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Facebook:</p>
                {{ form.fb_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Reddit:</p>
                {{ form.reddit_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Discord:</p>
                {{ form.discord_link(class="w-full h-10 mb-4 shadow appearance-none border rounded text-black") }}
            </div>
            <div>
                <p>Opublikowany: </p>
                {{ form.published }}
            </div>
            <div class="mt-4">{{ form.submit(placeholder="Zapisz zmiany", class="block bg-zinc-700 mx-auto hover:bg-zinc-600 transition-all text-white font-bold py-2 px-4 rounded cursor-pointer") }}</div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{{ ckeditor.config(name='body', height=700) }}
{% endblock %}