{% extends "base.html" %}
{% block title %}Lista społeczności(Panel) - {% endblock %}
{% block main %}
{% import "_macros.html" as macros %}
{{ macros.render_back_to_panel() }}
<div class="flex-col bg-zinc-800 px-6 py-6">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="mb-2 p-2 bg-red-600">
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="mb-4"><h2 class="text-4xl font-semibold">Lista społeczności</h2></div>
    <div><a class="p-2 rounded bg-zinc-700 hover:text-sky-400" href="{{ url_for('.add_community') }}">Dodaj Społeczność</a></div>
    {% if page %}
    {% for community in page %}
        {{ macros.render_element_of_cp_lists(community, edit='.edit_community', show='.show_community', delete='.delete_community') }}
    {% endfor %}
    {% endif %}
    {{ macros.render_pagination(page, '.communities_list') }}
</div>
{% endblock %}