{% extends "base.html" %}
{% block title %}Lista społeczności(Panel) - {% endblock %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="flex-col bg-gray-800 px-6 py-6">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div><h2>Lista społeczności</h2></div>
    <div class="community-actions">
        <a href="{{ url_for('.add_community') }}">Dodaj Społeczność</a>
    </div>
    {% if page %}
    {% for community in page %}
    <div class="post py-6">
        <h3>{{ community._title }}</h3>
        {% if current_user.is_administrator() %}
        <div><a href="{{ url_for('.edit_community', id=community.id) }}">Edytuj Społeczność</a></div>
        <div><a href="{{ url_for('.show_community', id=community.id) }}">Podejrzyj Społeczność</a></div>
        <div><a href="{{ url_for('.delete_community', id=community.id) }}" onclick="return confirm('Czy jesteś pewien, że chcesz usunąć społeczność?');">Usuń Społeczność</a></div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {{ macros.render_pagination(page, '.communities_list') }}
</div>
{% endblock %}