{% extends "base.html" %}
{% block title %}Edytuj {{ title }} - {% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='ckeditor5/ckeditor5.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ckeditor5/ckeditor5-content.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ckeditor5/ckeditor5-editor.css', _external=True) }}">
{% endblock %}
{% block main %}
{% import "_macros.html" as macros %}
{{ macros.render_back_to_panel() }}
<div class="bg-zinc-800 px-6 py-6">
    {{ macros.render_flashed_messages() }}
    <form class="block justify-self-center mx-auto" method="POST">
        <div class="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.body(class="h-10 mb-4 shadow appearance-none border rounded text-black", required=False) }}
            </div>
            <div class="mt-4">{{ form.submit(placeholder="Edytuj O Nas", class="block mx-auto bg-zinc-700 hover:bg-zinc-600 transition text-white font-bold py-2 px-4 rounded cursor-pointer") }}</div>
        </div>
    </form>

</div>
{% endblock %}
{% block scripts %}
{% include "cke_script.html" %}
{{ super() }}
{% endblock %}