{% extends "base.html" %}
{% block title %}Panel kontrolny - {% endblock %}
{% block main %}
<div class="cp_user flex bg-zinc-800 mb-2 p-2">
    <div class="p-1">Zalogowano jako {{ current_user.username }}</div>
    <a class="block ml-2 p-1 bg-zinc-700" href="{{ url_for('.auth.logout') }}">Wyloguj</a>
</div>
<div class="flex flex-wrap bg-zinc-800 px-6 py-6">
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.posts_list') }}">
            <h3 class="font-semibold text-lg uppercase">Posty</h3>
            <p>Lista postów i związane z nimi akcje</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.tags_list') }}">
            <h3 class="font-semibold text-lg uppercase">Tagi</h3>
            <p>Lista tagów</p>
        </a>
    </div>
    {% if current_user.is_content_editor() %}
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.games_list') }}">
            <h3 class="font-semibold text-lg uppercase">Gry</h3>
            <p>Lista gier i związane z nimi akcje</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.communities_list') }}">
            <h3 class="font-semibold text-lg uppercase">Społeczności</h3>
            <p>Lista społeczności i związane z nimi akcje</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.users') }}">
            <h3 class="font-semibold text-lg uppercase">Użytkownicy</h3>
            <p>Lista użytkowników i związane z nimi akcje</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.edit_pages_content', page_name='about_us_page') }}">
            <h3 class="font-semibold text-lg uppercase">O nas</h3>
            <p>Edycja strony "O nas"</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.edit_pages_content', page_name='contact_page') }}">
            <h3 class="font-semibold text-lg uppercase">Kontakt</h3>
            <p>Edycja strony "Kontakt"</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.edit_pages_content', page_name='privacy_policy_page') }}">
            <h3 class="font-semibold text-lg uppercase">Polityka prywatności</h3>
            <p>Edycja strony "Polityka prywatności"</p>
        </a>
    </div>
    <div class="m-4 p-2 bg-zinc-700 hover:bg-zinc-600 transition rounded-lg">
        <a class="block" href="{{ url_for('.edit_textfield', field='communities_page') }}">
            <h3 class="font-semibold text-lg uppercase">Pole tesktowe na stronie społeczności</h3>
            <p>Edycja pola tekstowego "communities page"</p>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}