{% extends "base.html" %}
{% block title %}Lista postów(Panel) - {% endblock %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}
{% block main %}
{% import "_macros.html" as macros with context %}
{{ macros.render_back_to_panel() }}
<div class="flex-col bg-zinc-800 px-6 py-6">
    {{ macros.render_flashed_messages() }}
    <div class="mb-4"><h2 class="text-4xl font-semibold">Lista postów</h2></div>
    <div class="post-actions">
        <a class="p-2 rounded bg-zinc-700 hover:text-sky-400" href="{{ url_for('.add_post') }}">Dodaj post</a>
    </div>
    {% if page %}
    {% for post in page %}
        {{ macros.render_element_of_cp_lists(post, edit='.edit_post', show='.show_post', delete='.delete_post') }}
    {% endfor %}
    {% endif %}
    {{ macros.render_pagination(page, '.posts_list') }}
</div>
{% endblock %}