{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Lista tagów(Panel) - {% endblock %}
{% block main %}
{% import "_macros.html" as macros %}
{{ macros.render_back_to_panel() }}
<div class="flex-col bg-zinc-800 px-6 py-6">
    {{ macros.render_flashed_messages() }}
    <div class="mb-4"><h2 class="text-4xl font-semibold">Lista tagów</h2></div>
    <div class="tags-actions">
        <a class="p-2 rounded bg-zinc-700 hover:text-sky-400" href="{{ url_for('.add_tag') }}">Dodaj tag</a>
    </div>
    {% if page %}
    {% for tag in page %}
        {{ macros.render_element_of_cp_lists(tag, edit='.edit_tag', delete='.delete_tag') }}
    {% endfor %}
    {% endif %}
    {{ macros.render_pagination(page, '.tags_list') }}
</div>
{% endblock %}