{% extends "base.html" %}
{% block title %}Konto {{ user.username }} - {% endblock %}
{% block main %}
<div class="bg-gray-800 px-6 py-6">
    <h2>{{ user.username }} {% if user.is_administrator() %}[ADMIN]{% endif %}</h2>
    <p>Dołączył: {{ moment(user.last_seen).format('L') }}</p>
    <p>Ostatnio widziany: {{ moment(user.member_since).fromNow() }}</p>
    {% if current_user == user %}
    <a href="{{ url_for('.auth.new_password') }}">Zmień hasło</a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a href="{{ url_for('.auth.new_password', id=user.id) }}">Zmień hasło [A]</a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a href="{{ url_for('.auth.delete_user', id=user.id) }} " onclick="return confirm('Czy jesteś pewien, że chcesz usunąć usera?');">Usuń użytkownika</a>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}