{% extends "base.html" %}
{% block title %}Logowanie - {% endblock %}
{% block main %}
<div class="bg-gray-800 px-6 py-6">
    <form class="block max-w-2xl justify-self-center mx-auto" method="POST">
        <div class="flex flex-col">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder="Username", class="h-10 mb-4 shadow appearance-none border rounded") }}
            {{ form.password(placeholder="Password", class="h-10 shadow appearance-none border rounded") }}
            <div class="mx-auto my-3">{{ form.remember_me.label }} {{ form.remember_me(class="") }}</div>
            <div class="mx-auto">{{ form.submit(class="bg-gray-700 hover:bg-gray-600 transition-all text-white font-bold py-2 px-4 rounded") }}</div>
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}