{% extends "base.html" %}
{% block title %}Logowanie - {% endblock %}
{% block content %}
<div class="bg-gray-800 px-6 py-6">
    <div><span>Zmień hasło użytkownikowi: {{ username }}</span></div>
    <form class="block max-w-2xl justify-self-center mx-auto" method="POST">
        <div class="flex flex-col">
            {{ form.hidden_tag() }}
            {{ form.old_password(placeholder="Old password", class="h-10 shadow appearance-none border rounded") }}
            {{ form.new_password(placeholder="New password", class="h-10 shadow appearance-none border rounded") }}
            {{ form.new_password2(placeholder="Repeat new password", class="h-10 shadow appearance-none border rounded") }}
            <div class="mx-auto">{{ form.submit(class="bg-gray-700 hover:bg-gray-600 transition-all text-white font-bold py-2 px-4 rounded") }}</div>
        </div>
    </form>
    {% for error in form.errors.new_password %}
        {{ error }}
    {% endfor %}
    {% if msg %}
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    {% endif %}
</div>
{% endblock %}