{% extends "base.html" %}
{% block title %}Społeczności/Klany - {% endblock %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="communities">
    <div class="communities__description bg-zinc-900 rounded-lg p-2 text-xl">
        {{ description }}
    </div>
    {% if form %}
    <div class="communities__form_filter mb-3">
        <div class="communities__filter flex justify-center lg:justify-end">
            <form class="communities__filter-form" method="POST" action="{% if game_slug %}{{ url_for('main.communities_filter', game=game_slug) }}{% else %}{{ url_for('main.communities_filter') }}{% endif %}">
                {{ form.hidden_tag() }}
                {{ form.filtr(class="rounded w-60 p-1 lg:w-44 text-black focus:outline-none focus:ring focus:ring-sky-400") }}
                {{ form.submit(class="block lg:inline-block w-full lg:w-max bg-zinc-800 rounded mt-3 lg:mt-0 lg:ml-1 p-1 cursor-pointer hover:text-sky-400 transition") }}
            </form>
        </div>
    </div>
    {% endif %}
    <div class="communities__block flex flex-wrap">
        {% for community in page %}
        <article class="community overflow-hidden p-2 mb-6 mx-auto max-w-full">
            <a class="community__link bg-zinc-800 block w-60 h-full p-1 lg:p-2 rounded-lg shadow-md hover:ring-2 ring-red-600 hover:text-sky-400 transition" href="{{ url_for('.community', slug=community.slug) }}">
                <div class="community__thumb_block mt-3">
                    {% if community.thumb_name_min %}
                    <img class="h-32 mx-auto" src="{{ url_for('uploaded_files', folder='logos', filename=community.thumb_name_min) }}" alt="{{ community.title + 'thumb_min' }}">
                    {% else %}
                    <img class="h-32 mx-auto" src="{{ url_for('uploaded_files', folder='logos', filename=community.thumb_name) }}" alt="{{ community.title + 'thumb' }}">
                    {% endif %}
                </div>
                <div class="community__desc_block text-center">
                    <h3 class="text-xl font-semibold my-2">{{ community.title }}</h3>
                    {% if community.game %}
                    <span class="text-gray-400">{{ community.game.title }}</span>
                    {% endif %}
                </div>
            </a>
        </article>
        {% endfor %}
    </div>
</div>
{{ macros.render_pagination(page, '.communities', **args) }}
{% endblock %}