{% extends "base.html" %}
{% block title %}Społeczność: {{ community.title }} - {% endblock %}
{% block content %}
<div class="base-content flex-col bg-gray-800 px-6 py-6">
  <div class="base-content__thumb"><img src="{{ url_for('uploaded_files', folder='logos', filename=community.thumb_name) }}" alt="{{ community.title }}"></div>
  <div class="base-content__title">{{ community.title }}</div>
  <div class="base-content__body">{{ community.body | safe }}</div>
  <div class="base-content__links">
    {% if community.web_link %}
    <a href="{{ community.web_link }}">Strona internetowa</a>
    {% endif %}
    {% if community.discord_link %}
    <a href="{{ community.web_link }}">Discord</a>
    {% endif %}
    {% if community.fb_link %}
    <a href="{{ community.web_link }}">Facebook</a>
    {% endif %}
    {% if community.twitter_link %}
    <a href="{{ community.web_link }}">Twitter</a>
    {% endif %}
  </div>
</div>
{% endblock %}