{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
<div class="games">
    <div class="game__description">
        {{ description }}
    </div>
    <div class="game__kurwa">
        <div class="game__filter">
            <form class="game__filter-form" method="POST" action="{{ url_for('main.games') }}">
                {{ form.hidden_tag() }}
                {{ form.filtr() }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
    {% for game in page %}
    <article class="game max-h-28 bg-gray-800 rounded-lg shadow-md overflow-hidden mb-6 mx-auto lg:flex max-w-full p-1 lg:p-2">
        <a class="game__link w-full flex items-center" href="{{ url_for('.game', slug=game.slug) }}">
            <div class="game__thumb_block">
                <img class="w-40 lg:w-48 h-20 object-contain" src="{{ url_for('uploaded_files', folder='thumbnails', filename=game.thumb_name) }}" alt="{{ game.title + 'thumb' }}">
            </div>
            <div class="game__desc_block ml-4">
                <h3 class="text-xl font-semibold">{{ game.title }}</h3>
            </div>
        </a>
    </article>
    {% endfor %}
</div>
{{ macros.render_pagination(page, '.games') }}
{% endblock %}