{% macro render_pagination(pagination, endpoint) %}
<div class="pagination flex bg-zinc-800 rounded-lg my-4">
  <div class="pagination-left p-2 m-2">
    <a class="bg-zinc-700 py-2 px-4 hover:text-sky-400 transition-colors rounded" href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
      &laquo;
    </a>
  </div>
  <div class="pagination-main flex justify-center content-center grow p-2">
      {% if pagination.has_prev %}
      <a class="m-1 p-1 hover:text-sky-400 transition-colors" href="{{ url_for(endpoint, page = pagination.page - 1) }}">
        {{ pagination.prev_num }}{{ pagination.has_prev }}
      </a>
      {% endif %}
      <strong class="m-1 p-1 text-sky-400">{{ pagination.page }}</strong>
      {% if pagination.has_next %}
      <a class="m-1 p-1 hover:text-sky-400 transition-colors" href="{{ url_for(endpoint, page = pagination.page + 1) }}">
        {{ pagination.next_num }}
      </a>
      {% endif %}
  </div>
  <div class="pagination-right p-2 m-2">
    <a class="bg-zinc-700 py-2 px-4 hover:text-sky-400 transition-colors rounded" href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
      &raquo;
    </a>
  </div>
</div>
{% endmacro %}

{% macro render_back_to_panel() %}
<div>
    <a href="{{ url_for('control_panel.index') }}" class="block bg-zinc-700 hover:bg-gray-600 transition-all text-white font-bold py-2 px-4 cursor-pointer">Powrót do Panelu</a>
</div>
{% endmacro %}

{% macro render_element_of_cp_lists(element, edit=None, show=None, delete=None) %}
<div class="element my-4 p-2 bg-zinc-700">
    <div class="mb-1 border-b"><h3 class="text-xl font-semibold">{{ element._title or element.name }}</h3></div>
    {% if element.author == current_user or current_user.is_administrator() %}
    <div class="mt-2"><a class="hover:text-sky-400 transition" href="{{ url_for(edit, id=element.id) }}">Edytuj</a></div>
    {% if show %}<div><a class="hover:text-sky-400 transition" href="{{ url_for(show, id=element.id) }}">Podejrzyj</a></div>{% endif %}
    <div><a class="hover:text-sky-400 transition" href="{{ url_for(delete, id=element.id) }}" onclick="return confirm('Czy jesteś pewien, że chcesz to usunąć');">Usuń</a></div>
    {% endif %}
</div>
{% endmacro %}

{% macro render_flashed_messages() %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="mb-2 p-2 bg-red-600">
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
{% endmacro %}