{% macro render_pagination(pagination, endpoint) %}
<div class="pagination flex bg-gray-800 rounded-lg my-4">
  <div class="pagination-left p-2 m-2">
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
      &laquo;
    </a>
  </div>
  <div class="pagination-main grow p-2 mx-auto">
    {% if pagination.has_prev %}
    <a href="{{ url_for(endpoint, page = pagination.page - 1) }}">
      {{ pagination.prev_num }}
    </a>
    {% endif %}
    <strong>{{ pagination.page }}</strong>
    {% if pagination.has_next %}
    <a href="{{ url_for(endpoint, page = pagination.page + 1) }}">
      {{ pagination.next_num }}
    </a>
    {% endif %}
  </div>
  <div class="pagination-right p-2 m-2">
    <a href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
      &raquo;
    </a>
  </div>
</div>
{% endmacro %}