<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Realni Stratedzy</title>
    {%block meta%}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="RealniStratedzy.pl to polska strona o grach RTS. Najświeższe informacje ze świata strategii czasu rzeczywistego.">
    <meta name="keywords" content="rts,real time strategy,strategie,strategie czasu rzeczywistego,stormgate,starcraft,warcraft">
    <meta name="author" content="Michaster">
    <meta name="copyright" content="Realni Stratedzy">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://realnistratedzy.pl" />
    <meta property="og:title" content="Realni Stratedzy" />
    <meta property="og:description" content="RealniStratedzy.pl to polska strona o grach RTS. Najświeższe informacje ze świata strategii czasu rzeczywistego." />
    <meta property="og:image" content="https://realnistratedzy.pl/static/images/meta.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://realnistratedzy.pl" />
    <meta property="twitter:title" content="Realni Stratedzy" />
    <meta property="twitter:description" content="RealniStratedzy.pl to polska strona o grach RTS. Najświeższe informacje ze świata strategii czasu rzeczywistego." />
    <meta property="twitter:image" content="https://realnistratedzy.pl/static/images/meta.png" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico', _external=True) }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/style.css', _external=True) }}">
</head>
<body class="box-border bg-zinc-900 text-neutral-100">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}

    <main class="min-h-screen max-w-7xl mx-auto mt-6 px-2">
        {% block main %}
        <div class="lg:flex">
            <div class="content lg:w-3/4">
                {% block content %}
                {% endblock %}
            </div>
            <aside class="sidebar hidden lg:block w-1/4 ml-2">
                {% block sidebar %}
                {% include "sidebar.html" %}
                {% endblock %}
            </aside>
        </div>
        {% endblock %}
    </main>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

    {% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.locale("pl") }}
    <script src="{{ url_for('static', filename='dist/main.js', _external=True) }}"></script>
    {% endblock %}
</body>
</html>