<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Realni Stratedzy</title>
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}RealniStratedzy.pl to polska strona o grach RTS i centrum dla społeczności. Najświeższe informacje ze świata strategii czasu rzeczywistego.{% endblock %}">
    <meta name="keywords" content="rts,real time strategy,strategie,strategie czasu rzeczywistego,stormgate,starcraft,warcraft,klany,społeczności">
    <meta name="author" content="Michaster">
    <meta name="copyright" content="Realni Stratedzy">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://realnistratedzy.pl" />
    <meta property="og:title" content="{{ self.title() }}Realni Stratedzy" />
    <meta property="og:description" content="{% block description_og %}RealniStratedzy.pl to polska strona o grach RTS i centrum dla społeczności. Najświeższe informacje ze świata strategii czasu rzeczywistego.{% endblock %}" />
    <meta property="og:image" content="{% block og_meta_img %}https://realnistratedzy.pl/static/images/meta.png{% endblock %}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://realnistratedzy.pl" />
    <meta property="twitter:title" content="{{ self.title() }}Realni Stratedzy" />
    <meta property="twitter:description" content="{% block description_t %}RealniStratedzy.pl to polska strona o grach RTS i centrum dla społeczności. Najświeższe informacje ze świata strategii czasu rzeczywistego.{% endblock %}" />
    <meta property="twitter:image" content="{% block t_meta_img %}https://realnistratedzy.pl/static/images/meta.png{% endblock %}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico', _external=True) }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/style.css', _external=True) }}">
    {% block link %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KRQ01QXQ7V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KRQ01QXQ7V');
    </script>
</head>
<body class="box-border bg-zinc-900 text-neutral-100">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}

    <main class="min-h-screen max-w-7xl mx-auto mt-6 px-2">
        {% block main %}
        <div class="lg:flex">
            <div class="content lg:w-3/4">
                {% block content %}
                {% endblock %}
            </div>
            <aside class="sidebar hidden lg:block w-1/4 ml-2">
                {% block sidebar %}
                {% include "sidebar.html" %}
                {% endblock %}
            </aside>
        </div>
        {% endblock %}
    </main>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}

    {% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.locale("pl") }}
    <script src="{{ url_for('static', filename='dist/index.bundle.js', _external=True) }}"></script>
    {% endblock %}
</body>
</html>