<script type="importmap">
{
	"imports": {
		"ckeditor5": "{{ url_for('static', filename='ckeditor5/ckeditor5.js', _external=True) }}",
		"ckeditor5/": "{{ url_for('static', filename='ckeditor5/', _external=True) }}"
	}
}
</script>
<script type="module" src="{{ url_for('static', filename='dist/cke.js', _external=True) }}"></script>
<script type="module">
    import { ckeConfig, ClassicEditor } from '{{ url_for('static', filename='dist/cke.js', _external=True) }}';
    let config = ckeConfig("{{ url_for('upload_cke') }}");
    ClassicEditor.create(document.querySelector('#body'), config);
</script>