<footer class="footer bg-gray-800 top-0 shadow-lg">
    <div class="lg:flex max-w-7xl mx-auto mt-4 py-8">
        <div class="footer__short_desc">
            <p>
                RealniStratedzy.pl to hub dla polskie społeczności miłośników gier strategicznych czasu rzeczywistego.
                Tu znajdziesz najświeższe informacje z świata RTS'ów.
            </p>
            <span>
                Copyright &copy; RealniStratedzy.pl 2023.
            </span>
        </div>
        <div class="footer__links">
            <a href="">O nas</a>
            <a href="">Polityka prywatności</a>
            <a href="">Kontakt</a>
        </div>
        <div class="footer__socials">
            <a href="">Discord</a>
            <a href="">Twitter</a>
            <a href="">Facebook</a>
        </div>
    </div>
</footer>