<header class="bg-gray-800">
    <div class="md:flex relative max-w-7xl mx-auto px-4">
        <div class="header__logo flex flex-row items-center py-2">
            <a class="block" href="{{url_for('main.index')}}">
                <img class="block" id="logo" src="{{url_for('static', filename='images/header.png')}}" alt="Logo">
            </a>
            <div class="header__bars md:hidden p-1 ml-auto cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </div>
        </div>
        <nav class="header__menu">
            <div class="header_links md:flex">
                <a class="block" href="{{ url_for('main.about_us') }}">O nas</a>
                <a class="block" href="{{ url_for('main.games') }}">Lista gier RTS</a>
                <a class="block" href="{{ url_for('main.communities') }}">Społeczności/Klany</a>
            </div>
            <div class="header_control">
                {% if current_user.is_administrator() %}
                <a href="{{url_for('control_panel.index')}}">Panel Kontrolny</a>
                {% endif %}
            </div>
            <div class="header_logout">
                {% if current_user.is_authenticated %}
                <a href="{{url_for('control_panel.auth.logout')}}">Wyloguj</a>
                {% endif %}
            </div>
            <div class="header_auth">
                {% if current_user.is_authenticated %}
                <span>Zalogowany jako {{ current_user.username }}</span>
                {% endif %}
            </div>
            <div class="header_search">
                <form method="POST" action="{{url_for('main.search')}}">
                    {{ search_form.hidden_tag() }}
                    {{ search_form.searched() }}
                    {{ search_form.submit() }}
                </form>
            </div>
        </nav>
    </div>
</header>