{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}{{title_h}}{% endblock %}
{% block content %}
<div class="posts min-h-screen">
    {% if not page %}
        <div><span>Nie znaleziono postów</span></div>
    {% endif %}
    {% for post in page %}
    <article class="post max-w-md lg:max-w-full bg-zinc-800 rounded-lg shadow-md overflow-hidden mx-auto mb-6 hover:ring-2 ring-red-600 transition">
        <a class="block pb-6 lg:flex lg:p-2 group" href="{{ url_for('.post', slug=post.slug) }}">
            <div class="post__thumb_block flex lg:items-center shrink-0">
                <img class="block object-contain lg:max-h-48 w-full lg:w-80" src="{{ url_for('uploaded_files', folder='thumbnails', filename=post.thumb_name) }}" alt="{{ post.title + ' thumb' }}">
            </div>
            <div class="post__desc_block py-2 lg:py-0 px-2">
                <h3 class="font-bold text-xl lg:text-2xl uppercase group-hover:text-sky-400">{{ post.title }}</h3>
                <p class="text-xs text-gray-400 mt-1">{{ moment(post.timestamp).format('LL') }}{% if post.game %} | {{ post.game.title }}{% endif %}</p>
                <p class="block mt-2">{{ post.short_desc }}</p>
            </div>
        </a>
    </article>
    {% endfor %}
</div>
{{ macros.render_pagination(page, '.index', searched=searched) }}
{% endblock %}